@import "colorscheme.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Source Code Pro", Roboto;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: @base000;
    color: @base04;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    background-color: @base02;
    color: @base05;
    padding: 0 5px;
}

#workspaces button.focused {
    background-color: @base0D;
    color: @base00;
}

#workspaces button.urgent {
    background-color: @base0A;
    color: @base00;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @base06;
    color: @base00;
    box-shadow: inherit;
}


#mode {
    color: @base00;
    background-color: @base09;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 4px;
    margin: 0 4px;
    color: @base04;
}

#battery.charging {
    color: @base06;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        color: @base00;
        background-color: @base06;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu.alert {
    background-color: #2980b9;
}

#memory.alert {
    background-color: #9b59b6;
}

#temperature.critical {
    background-color: #f53c3c;
}

#network.disconnected {
    background-color: #9b59b6;
}

#pulseaudio.muted {
    color: #000000;
    background-color: #ffa000;
}

#tray {
    background-color: @base02;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @base07;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
